{% if substitutes is None %}

    <div class="col-lg-12 text-center">
        <h2>Nous n'avons trouvé aucun résultat à cette requête.</h2>
    </div>

{% else %}

    <div class="col-lg-12 text-center">
        <h2>Liste de vos aliments enregistrés de {{ user.first_name }} {{ user.last_name }} :</h2>
        <br>
        <hr>
        <br>
    </div>

    {% for subs in substitutes %}
        {% if forloop.counter <= 6 %}
            <div class="col-sm-4 text-center">
                <a href="{% url 'app:food' product_id=subs.subs_product.id %}">
                    <div class="col-sm-12 product" style="background-image: url('{{ subs.subs_product.front_picture }}')">
                        <h1 class="text-uppercase text-right grades">
                            <span class="badge badge-pill badge-info">{{ subs.subs_product.nutrition_grades }}</span>
                        </h1>
                    </div>
                </a>
                <h5><a href="{% url 'app:food' product_id=subs.subs_product.id %}">{{ subs.subs_product.name }}</a></h5>
                <h6>substitut de
                    <a href="{% url 'app:food' product_id=subs.search_product.id %}">{{ subs.search_product.name }}</a>
                </h6>
                    <a class="text-dark" href="{% url 'save:delete' subs_id=subs.id %}">
                        <i class="fas fa-window-close" aria-hidden="true"></i> Suppression</a>
                <br><br>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                <div class="clearfix"></div>
            {% endif %}
        {% endif %}
    {% endfor %}

{% endif %}