{% extends 'app/base.html' %}

{% block content %}

    <header class="masthead butter text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Mon compte</strong>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <section id="account" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center table-responsive">

                    {% if user.is_authenticated %}

                        <h2>Informations du compte:</h2>
                        <hr>
                        <table class="table table-bordered table-striped text-left">
                            <tbody>
                            <tr>
                                <td><strong>Nom d'utilisateur :</strong></td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td><strong>Nom :</strong></td>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Prénom :</strong></td>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Email :</strong></td>
                                <td>{{ user.email }}</td>
                            </tr>
                            </tbody>
                        </table>

                    {% else %}

                        <div class="text-center">
                            <h2>Vous n'êtes pas connecté</h2>
                            <br>
                            <a class="btn btn-primary mb-2" href="{% url 'app:login' %}">Identifiez-vous</a>
                        </div>

                        <br>
                        <hr><br>

                        {% include 'app/registration_form.html' with create_user_title="Créer votre compte" %}

                    {% endif %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}