{% extends 'app/base.html' %}

{% block content %}

    <header class="masthead min text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Mon compte</strong>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <p>Vous êtes connectés</p>
            </div>
        </div>
    </section>

{% endblock %}