<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pur Beurre</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Custom fonts for this template -->
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>

    <!-- Plugin CSS
    <link href="{% static 'app/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css"/>
    -->

    <!-- Custom styles for this template -->
    <link href="{% static 'app/css/creative.min.css' %}" rel="stylesheet" type="text/css"/>

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="d-inline-block align-content-center" src="{% static 'app/img/logo_pur_beurre.png' %}" width="40"
                 height="40" alt=""/> Pur Beurre</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Recherche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Mon compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Mes aliments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Contactez-nous !</h2>
                <hr class="my-4">
                <p class="mb-5">Si vous souhaitez avoir plus d'information sur notre entreprise, ou si vous souhaitez
                    participer à l'aventure.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>00 00 00 00 00</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">mail@mail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>


<!-- Bootstrap core JavaScript -->
<script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript
<script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'app/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
<script src="{% static 'app/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
-->

<!-- Custom scripts for this template -->
<script src="{% static 'app/js/creative.min.js' %}"></script>

</body>

</html>
