{% if products is None %}

    <div class="col-lg-12 text-center">
        <h2>Nous n'avons trouvé aucun résultat à cette requête.</h2>
    </div>

{% else %}

    <div class="col-lg-12 text-center">
        <h2>Vous pouvez remplacer cet aliment par :</h2>
        <hr class="detail-separator">
    </div>

    {% for product in products %}
        {% if forloop.counter <= 6 %}
            <div class="col-sm-4 text-center">
                <div id="product" class="col-sm-12">
                    <a href="{% url 'app:food' product_id=product.id %}">
                        <img class="img-fluid img-responsive rounded" src="{{ product.picture }}" alt="{{ product.name }}">
                    </a>
                </div>
                <h6><a href="{% url 'app:food' product_id=product.id %}">{{ product.name }}</a></h6>
                <br>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                <div class="clearfix"></div>
            {% endif %}
        {% endif %}
    {% endfor %}

{% endif %}