{% if substitutes is None %}

    <div class="col-lg-12 text-center">
        <h2>Nous n'avons trouvé aucun résultat à cette requête.</h2>
    </div>

{% else %}

    <div class="col-lg-12 text-center">
        <h2>Vous pouvez remplacer cet aliment par :</h2>
        <br>
        <hr>
        <br>
    </div>

    {% for subs in substitutes %}
        {% if forloop.counter <= 6 %}
            <div class="col-sm-4 text-center">
                <a href="{% url 'app:food' product_id=subs.id %}">
                    <div id="product" class="col-sm-12" style="background-image: url('{{ subs.front_picture }}')"></div>
                </a>
                <h5><a href="{% url 'app:food' product_id=subs.id %}">{{ subs.name }}</a></h5>
                <a class="text-dark" href="{% url 'save:backup' subs_id=subs.id search_id=product.id %}">
                    <i class="fas fa-save" aria-hidden="true"></i> Sauvegarder</a>
                <br><br>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                <div class="clearfix"></div>
            {% endif %}
        {% endif %}
    {% endfor %}

{% endif %}