:root {
    --chocolat: #C45525;
    --fried: #345A61;
    --candy: #86EBE6;
    --caramel: #DE9440;
    --biscuit: #E8A75D;
}

body {
    font-family: "Scope One", sans-serif;
    padding-top: 60px;
}

hr {
    border-color: var(--chocolat);
}

hr.light {
    border-color: var(--candy);
}

a {
    color: var(--chocolat);
}

a:hover {
    color: var(--chocolat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

table {
    margin: 0 auto;
}
.bg-primary {
    background-color: var(--chocolat) !important;
}

.bg-dark {
    background-color: var(--fried) !important;
}

.text-faded {
    color: var(--candy);
}

.masthead.butter {
    height: 20vh;
    min-height: 90px;
    padding-top: 0;
    padding-bottom: 0;
}

section#contact {
    padding: 2rem 0;
}

section#account {
    padding: 3rem 0;
}

@media (min-width: 992px) {
    #mainNav {
        border-bottom: 1px solid rgba(33, 37, 41, .1);
        background-color: var(--candy);
    }

    #mainNav .navbar-brand {
        color: var(--chocolat);
    }

    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: var(--chocolat);
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.5rem 1rem;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: #212529;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: var(--chocolat);
    }

    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, 0.1);
        background-color: var(--candy);
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: var(--chocolat);
    }

    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
        color: var(--chocolat);
    }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
        color: #212529;
    }

    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: var(--chocolat);
    }
}