:root {
    --chocolat: #C45525;
    --fried: #345A61;
    --candy: #86EBE6;
    --caramel: #DE9440;
    --biscuit: #E8A75D;
}

body {
  font-family: "Scope One", sans-serif;
}

hr {
  border-color: var(--chocolat);
}

hr.light {
  border-color: var(--candy);
}

a {
  color: var(--chocolat);
}

a:hover {
  color: var(--chocolat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

.bg-primary {
  background-color: var(--chocolat) !important;
}

.bg-dark {
  background-color: var(--fried) !important;
}

.text-faded {
  color: var(--candy);
}

.masthead.butter {
    height: 30vh;
    min-height: 200px;
    padding-top: 0;
    padding-bottom: 0;
}

section#contact {
    padding: 2rem 0;
}

/*
#mainNav {
    border-bottom: 1px solid rgba(33,37,41,.1);
    background-color: #fff;
}*/