{% extends 'app/base.html' %}

{% block content %}

    <header class="masthead butter text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                        <strong>Erreur 404</strong>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <section id="login" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto text-center table-responsive">
                    <h4>Le produit que vous avez demandé n'existe pas dans la base de données.</h4>
                </div>

            </div>
        </div>
    </section>

{% endblock %}